<!-- registration/templates/home.html -->
<!DOCTYPE html>
{% load staticfiles %}
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->

    <title>Home | PiggyBack</title>

	<!-- Bootstrap -->
    <link href='{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "bower_components/bootstrap/dist/css/bootstrap-theme.min.css" %}' rel="stylesheet">
	<link href='{% static "bower_components/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet">
    <link href='{% static "css/bootstrap-social.css" %}' rel="stylesheet">
    <link href='{% static "css/styles.css" %}' rel= "stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">PiggyBack Logo</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">

					<ul class="nav navbar-nav navbar-right navbar-collapse">
						<li><a class= "btn" id= "invitebtn"><span class="glyphicon glyphicon-heart"></span> Invite Friends</a>
						</li>
						<li><a class= "btn" id= "howbtn"><span class="glyphicon glyphicon-question-sign"></span> How it Works</a>
						</li>
						<li><a href="/signup/" class= "btn" id= "signupbtn"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
						</li>
						<li><a class="btn" id="loginBtn">
							<span class="glyphicon glyphicon-log-in"></span> Login</a>
						</li>
                	</ul>
                </div>
            </div>
        </nav>
    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
			<form class="form-inline" method="post" action="/home/">
                {% csrf_token %}
            <div class="modal-body">
                
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail3">Email address</label>
                        <input name = "email" type="email" class="form-control form-control-sm mr-1" id="exampleInputEmail3" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputPassword3">Password</label>
                        <input name = "password" type="password" class="form-control form-control-sm mr-1" id="exampleInputPassword3" placeholder="Password">
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"> Remember me
                        </label>
                    </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary btn-sm">Sign in</button>
            </div>
				</form>
        </div>
        </div>
    </div>
	<header class= "jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-5">
					<p style="padding:30px;"></p>
                    <h1>PiggyBack</h1>
                    <p>Make money while travelling! </p>

                </div>
                <div class="col-xs-12 col-md-3 align-self-center" >
					<p style="padding:40px;"></p>
					PiggyBack Logo
                </div>
				<div class="col-xs-12 col-md-4 align-self-center">
					<p style="padding:40px;"></p>
					<p style="padding-left: 60px">Earn upto $200 per trip!</p>
					<a class="btn btn-block btn-primary btm-sm" id="reserveBtn" role="button">Learn how</a>
				</div>
            </div>
        </div>
    </header>

<div class="container">
	<div class= "row row-content">
            <div class="col-xs-12 col-sm-3">

                <h3 align=left><strong>Customer</strong></h3>
            </div>
            <div  class="col-xs-12 col-sm-12">
                    <input style= "width: 100%" type="text" placeholder="Enter the URL of the product">
            </div>
		<div class="col-xs-12 col-sm-3">

                <h3 align=left ><strong>Traveller</strong></h3>
            </div>
            <div  class="col-xs-12 col-sm-12">
                    <p align= left>Travelling anytime soon? Click the button below!</p>
					<a style="float: left" class="btn btn-primary btm-sm" id="reserveBtn" role="button">Let us know your dates</a>
            </div>
        </div>

	<div class="row row-content">
           <div class="col-xs-12">
			   <div id="mycarousel" class="carousel slide" data-ride="carousel">
				   <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mycarousel" data-slide-to="1"></li>
                    <li data-target="#mycarousel" data-slide-to="2"></li>
                </ol>

				   <div class="carousel-inner" role="listbox">
                    <div class="row item active">
                        <img class="img-responsive"
                         src='{% static "img/phone.jpg" %}' alt="Uthappizza">
                        <div class="carousel-caption">
                        <h2>iPhone 6 <span class="label label-danger">Hot</span> <span class="badge">$4.99</span></h2>
                        <p>US price: $650</p>
						<p>Indian price: $650</p>
                        <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
                        </div>
                    </div>
                    <div class="row item">
                        <img src='{% static "img/watch.jpg" %}' class="img-responsive">
                        <div class="carousel-caption">
                        <h2>Samsung SmartWatch <span class="label label-danger label-xs">New</span></h2>
                         <p>US Price: $250 </p>
						<p>Indian Price: $350</p>
                		<p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
                        </div>
                    </div>
                    <div class="row item">
                        <img class="img-responsive"
                         src='{% static "img/camera.png" %}' alt="Alberto Somayya">
                        <div class="carousel-caption">
						<h2>DSLR Camera</h2>
                         <p>US price: $1000
                         </p>
							<p>Indian price: $1350</p>
						  <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a>
                        </div>
                    </div>
                </div>
			<!-- Controls -->
                <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>


            </div>

            </div>
       </div>
</div>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

    <script src='{% static "commands.js" %}'></script>
	<script src='{% static "bower_components/jquery/dist/jquery.min.js" %}'></script>
    <script src='{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}'></script>
</body>