<!-- registration/templates/home.html -->
{% extends "baseAfterLogin.html" %}

{% load staticfiles %}


{% block head %}

{% endblock %}


{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger alert-dismissible" role="alert" id="alertMsg">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
</div>
{% endfor %}
{% endif %}
<header class= "jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-5">
					<p style="padding:30px;"></p>
                    <h1>PiggyBack</h1>
                    <p>Make money while travelling! </p>

                </div>
                <div class="col-xs-12 col-md-3 align-self-center" >
					<p style="padding:40px;"></p>
                <a href="/home/"></a>
                </div>
				<div class="col-xs-12 col-md-4 align-self-center">
					<p style="padding:40px;"></p>
					<p style="padding-left: 60px">Earn upto $200 per trip!</p>
                    <<a class="btn btn-block btn-primary btm-sm" id="reserveBtn" role="button" data-toggle="modal" data-target="#how"></span> Learn How</a>
				</div>
            </div>
        </div>
    </header>

<div class="container">
	<div class= "row row-content">
            <div class="col-xs-12 col-sm-3">

                <h3 align=left><strong>Customer</strong></h3>
            </div>
            <div  class="col-xs-12 col-sm-12">
                <form id="urldata" method="post" action="/customer/">
                    {% csrf_token %}
                    <input id="urlInput" name="sendURL" type="text" id="sendURL" placeholder="Enter the URL of the product" required="required" class="input pass">  
					<input type="submit" name="action" value="Continue" class="inputButtonurl btn btn-primary btn-md"/>
                </form>
            </div>
		<div class="col-xs-12 col-sm-3">

                <h3 align=left ><strong>Traveller</strong></h3>
            </div>
            <div  class="col-xs-12 col-sm-12">
                    <p align= left>Travelling anytime soon? Click the button below!</p>
					<a href="/traveller/" style="float: left" class="btn btn-primary btm-sm" id="reserveBtn" role="button">Let us know your dates</a>
            </div>
        </div>


      <div id="myCarousel" class="carousel slide" data-ride="carousel" >
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" >
    <div class="item active">
      <div align = "Center">
      <br>
      <br>
      <center>
      <h1 style = "color: white"> Top deals of the day </h1>
      <br>
      </center>
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src='{% static "img/fitbit.PNG" %}' alt="Generic placeholder image" width="100" height="100">
          <h2 style = "color: white">FitBit</h2>
          <p></p>
          <br>
          <p><a class="btn btn-default" target="_blank" href="https://www.amazon.com/Fitbit-Charge-Fitness-Wristband-Version/dp/B01K9S24SI/ref=sr_1_3_a_it?ie=UTF8&qid=1522120425&sr=8-3&keywords=fitbit" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src='{% static "img/headphones.PNG"%}' alt="Generic placeholder image" width="100" height="100">
          <h2 style = "color: white">Headphone</h2>
          <p></p>
          <br>
          <p><a class="btn btn-default" href="https://www.amazon.com/Rockerz-Bluetooth-Headphones-PC-Mac-Linux/dp/B01FSYQ01K/ref=sr_1_1?s=electronics&ie=UTF8&qid=1522120641&sr=1-1&keywords=headphones+boat" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src='{% static "img/harddisk.PNG" %}' alt="Generic placeholder image" width="100" height="100">
          <h2 style = "color: white">Hard Disk</h2>
          <p></p>
          <br>
          <p><a class="btn btn-default" href="https://www.amazon.com/Seagate-Expansion-Portable-External-STEA1000400/dp/B00TKFEEAS/ref=sr_1_3?s=electronics&ie=UTF8&qid=1522120757&sr=1-3&keywords=hard+disk" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>

    <div class="item">
          <div align = "Center">
      <br>
      <br>
      <center>
      <h1 style = "color: white"> Top deals of the day </h1>
      <br>
      </center>
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src='{% static "img/phn.PNG"%}' alt="Generic placeholder image" width="100" height="100">
          <h2 style = "color: white">iPhone</h2>
          <p></p>
          <br>
          <p><a class="btn btn-default" target="_blank" href="https://www.amazon.com/Apple-iPhone-Unlocked-Space-Gray/dp/B075QL8GRH/ref=sr_1_3?s=wireless&ie=UTF8&qid=1522181307&sr=1-3&keywords=iphone+8+plus" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src='{% static "img/vv.PNG" %}'alt="Generic placeholder image" width="100" height="100">
          <h2 style = "color: white">VR HeadSet</h2>
          <p></p>
          <br>
          <p><a class="btn btn-default" href="https://www.amazon.com/UMIDIGI-VR-Cardboard-Distance-Adjustment/dp/B01H17K6SA/ref=sr_1_4?s=electronics&ie=UTF8&qid=1522182263&sr=1-4&keywords=vr+box" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle order-1" src='{%static "img/pp.PNG" %}' alt="Generic placeholder image" width="100" height="100">
          <h2 style = "color: white">iPad</h2>
          <p></p>
          <br>
          <p><a class="btn btn-default order-2" href="https://www.amazon.com/Apple-iPad-WiFi-Space-Model/dp/B01LTIORC8/ref=sr_1_1?s=pc&ie=UTF8&qid=1522237371&sr=1-1&keywords=iPad" role="button">View details &raquo;</a></p>
      </div>
    </div>
</div>
    </div>

    <div class="item">
      <div align = "Center">
      <br>
      <br>
      <center>
      <h1 style = "color: white"> Top deals of the day </h1>
      <br>
      </center>
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src='{% static "img/watch.PNG" %}' alt="Generic placeholder image" width="100" height="100">
          <h2 style = "color: white">Watch</h2>
          <p></p>
          <br>
          <p><a class="btn btn-default" target="_blank" href="https://www.amazon.com/Tommy-Hilfiger-1791066-Stainless-Leather/dp/B00LX0IVWK/ref=sr_1_1?ie=UTF8&qid=1522237743&sr=8-1&keywords=branded+watches" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src='{% static "img/laptop.PNG" %}' alt="Generic placeholder image" width="100" height="100">
          <h2 style = "color: white">Laptop</h2>
          <p></p>
          <br>
          <p><a class="btn btn-default" href="https://www.amazon.com/Acer-Predator-i7-7700HQ-1060-6GB-G3-571-77QK/dp/B06Y4GZS9C/ref=sr_1_3?s=pc&ie=UTF8&qid=1522426689&sr=1-3&keywords=gaming+laptops" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src='{% static "img/camera.PNG" %}' alt="Generic placeholder image" width="100" height="100">
          <h2 style = "color: white">Camera</h2>
          <p></p>
          <br>
          <p><a class="btn btn-default" href="https://www.amazon.com/Sony-W800-Digital-Camera-Silver/dp/B00I8BIC9E/ref=sr_1_5?s=photo&ie=UTF8&qid=1522426863&sr=1-5&keywords=camera">View details &raquo;</a></p>
      </div>
    </div>
  </div>
</div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

            </div>

            </div>
       </div>
</div>
{% endblock %}
