<!-- registration/templates/home.html -->
{% extends "baseAfterLogin.html" %}
{% load staticfiles %}


{% block head %}
{% endblock %}


{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
</div>
{% endfor %}
{% endif %}
<header class= "jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-5">
					<p style="padding:30px;"></p>
                    <h1>PiggyBack</h1>
                    <p>Make money while travelling! </p>

                </div>
                <div class="col-xs-12 col-md-3 align-self-center" >
					<p style="padding:40px;"></p>
					PiggyBack Logo
                </div>
				<div class="col-xs-12 col-md-4 align-self-center">
					<p style="padding:40px;"></p>
					<p style="padding-left: 60px">Earn upto $200 per trip!</p>
					<a class="btn btn-block btn-primary btm-sm" id="reserveBtn" role="button">Learn how</a>
				</div>
            </div>
        </div>
    </header>

<div class="container">
	<div class= "row row-content">
            <div class="col-xs-12 col-sm-3">

                <h3 align=left><strong>Customer</strong></h3>
            </div>
            <div  class="col-xs-12 col-sm-12">
                    <input style="width: 70%" type="text" id="sendURL" placeholder="Enter the URL of the product">
					<button type="button" class="btn btn-primary" onclick="sendData()">Primary</button>
            </div>
		<div class="col-xs-12 col-sm-3">

                <h3 align=left ><strong>Traveller</strong></h3>
            </div>
            <div  class="col-xs-12 col-sm-12">
                    <p align= left>Travelling anytime soon? Click the button below!</p>
					<a href="/traveller/" style="float: left" class="btn btn-primary btm-sm" id="reserveBtn" role="button">Let us know your dates</a>
            </div>
        </div>

	<div class="row row-content">
           <div class="col-xs-12">
			   <div id="mycarousel" class="carousel slide" data-ride="carousel">
				   <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mycarousel" data-slide-to="1"></li>
                    <li data-target="#mycarousel" data-slide-to="2"></li>
                </ol>

				   <div class="carousel-inner" role="listbox">
                    <div class="row item active">
                        <img class="img-responsive"
                         src='{% static "img/phone.jpg" %}' alt="Uthappizza">
                        <div class="carousel-caption">
                        <h2>iPhone 6 <span class="label label-danger">Hot</span> <span class="badge">$4.99</span></h2>
                        <p>US price: $650</p>
						<p>Indian price: $650</p>
                        <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
                        </div>
                    </div>
                    <div class="row item">
                        <img src='{% static "img/watch.jpg" %}' class="img-responsive">
                        <div class="carousel-caption">
                        <h2>Samsung SmartWatch <span class="label label-danger label-xs">New</span></h2>
                         <p>US Price: $250 </p>
						<p>Indian Price: $350</p>
                		<p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
                        </div>
                    </div>
                    <div class="row item">
                        <img class="img-responsive"
                         src='{% static "img/camera.png" %}' alt="Alberto Somayya">
                        <div class="carousel-caption">
						<h2>DSLR Camera</h2>
                         <p>US price: $1000
                         </p>
							<p>Indian price: $1350</p>
						  <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a>
                        </div>
                    </div>
                </div>
			<!-- Controls -->
                <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>


            </div>

            </div>
       </div>
</div>
{% endblock %}
