<!-- registration/templates/landing.html -->
{% extends "baseAfterLogin.html" %}
{% load staticfiles %}


{% block head %}
<title>
	PiggyBack
</title>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href='{% static "css/split.css" %}' rel="stylesheet">

{% endblock %}

{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
</div>
{% endfor %}
{% endif %}
<div class="container" style="margin:60px;"></div>
<div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img class="background-image img-responsive" src='{% static "img/capture.png" %}'>
                <div class="carousel-caption">
                    <div class="pull-left left-caption">
                        <p class="tr-question"><strong>Do you want to make<br> money travelling?</strong></p>
                        <a href="#"><button class="btn btn-transparent button">Traveller</button></a>
                    </div>
                    <div class="pull-right right-caption">
                        <p class="cu-question"><strong>Do you want to get a <br>product delivered?</strong></p>
                        <a href="#"><button class="btn btn-transparent button">Customer</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
