{% extends "baseAfterLogin.html" %}
{% load staticfiles %}

{% block head %}
<title>Product details</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<style>
    .labels{
      font-family:'Muli';
    }
</style>
{% endblock %}

{% block body %}

<div style="margin: 60px;">
</div>
  	<div class="container">
  		<h4 class="labels"><strong> Item name</strong> </h4><br>
  		<div class="well">{{ productTitle }}</div><br>
  		<h4 class="labels"><strong> Item description</strong> </h4><br>
  		<div class="well">
  			{% for point in description %}
  		 	<h4> {{ point }} </h4>
  			{% endfor %}
  		</div><br>
  		<h4 class="labels"><strong> Item price </strong></h4> <br>
  		<div class="well">{{ productCost }}</div><br>
  		<h4 class="labels"><strong> Item availability</strong> </h4><br>
  		<div class="well">{{availability}}</div><br>
  		<div class="row row-content">
  			<center><h3 class="labels">Was this the product you wanted?</h3></center><br>
  			<center><a href="/customer/payment?price={{productCost}}" class="btn btn-primary btn-lg labels">Click to proceed to payment gateway</a></center>
  		</div>
		<br>
	 </div>
{% endblock %}




	
