{% extends "baseAfterLogin.html" %}
{% load staticfiles %}

{% block head %}
<title>Product details</title>

{% endblock %}

{% block body %}


  	<div class="container">
  		<form>
  			<div class="form-group">
          		<label>Product description</label>
          		<p id="product_desc"></p>
        	</div>
        	<div class="form-group">
          		<label>Product weight</label>
          		<p id="product_wt"></p>
        	</div>
        	<div class="form-group">
          		<label>Product dimensions</label>
          		<p id="product_dim"></p>
        	</div>
        	<div class="form-group">
          		<label>Product Image</label><br>
          		<img id="product_img">
        	</div>
	  		
  		</form>
  	</div>

{% endblock %}




	
