{% extends "baseAfterLogin.html" %}
{% load staticfiles %}

{% block head %}
<title>Traveller's Page</title>
<link href="../static/css/traveller.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container" style="margin:60px;">  </div>
      <div class="container" >
          <h3 class="single-headings"><center><strong>Tell us your travel plans and we will find you the best deals</strong></center></h3>
      </div>
	  <br>
      <div class="container">
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<form method="POST" action="/traveller/">
				{% csrf_token %}
				<div class="form-group">
					<label>Flight Number</label>
					<input name="number" type="text" placeholder="Enter flight number" class="form-control well" required="required">
				</div>
				<br>
				<div class="form-group">
					<label>Flight PNR</label>
					<input name="pnr" type="text" placeholder="Enter flight PNR" class="form-control well" required="required">
				</div>
				<br>

				<div class="form-group">
					<label>Date of travel</label>
					<input name="date" type="date" placeholder="Enter start date" class="form-control well" required="required">
				</div>
				<input type="submit" name="action" value="Continue" class="inputButtonsign"/>
			</form>  
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
		</div>
      </div>
      <br>
    
{% endblock %}
    





