{% extends "baseAfterLogin.html" %}
{% load staticfiles %}

{% block head %}
<title>Traveller's Page</title>
<link href="../static/css/traveller.css" rel="stylesheet">
{% endblock %}

{% block body %}
	  
      <div class="container" >
          <h3><center>Tell us your travel plans and we will find you the best deals</center></h3>
      </div>
	  <br>
      <div class="container">
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<form>
				<div class="form-group">
					<label>Flight Name</label>
					<input type="text" placeholder="Enter flight name" class="form-control">
				</div>
				<br>
				<div class="form-group">
					<label>Flight PNR</label>
					<input type="text" placeholder="Enter flight PNR" class="form-control">
				</div>
				<br>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="form-group">
							<label>From</label>
							<input type="date" placeholder="Enter start date" class="form-control">
							
						</div>
					</div>
					
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="form-group">
							<label>To</label>
							<input type="date" placeholder="Enter end date" class="form-control">
						</div>
					</div>
				</div>
			</form>  
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
		</div>
      </div>
	  
	  <div class="container" >
          <h3 class="heading"><center>Verify your Aadhar details</center></h3>
          <h4><center><a href="verification/">Link</a></center></h4>
      </div>
	  
	  <div class="container" >
          <h3 class="heading"><center>Not yet booked a flight</center></h3>
		  <br>
		  <h4><center>Expected travel</center></h4>
		  <br>
      </div>
      
      <div class="container" >
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <form>
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
					<div class="form-group">
						<label>Between</label>
						<input type="date" placeholder="Enter start date" class="form-control">
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
					<div class="form-group">
						<label>And</label>
						<input type="date" placeholder="Enter end date" class="form-control">
					</div>
				</div>
			</div>
		  </form>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
		</div>
      </div>
	  
	  <div class="container" >
          <h3 class="heading"><center>Get notified for best deals</center></h3>
      </div>
    
{% endblock %}
    





